@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    font-family: Montserrat, sans-serif;
}

header{
    height: 100px;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-weight: 100;
}

h2{
    padding-top: 30px;
    font-weight: 200;
}

main{
    width: 100%;
    display: flex;
}

aside{
    width: 200px;
    height: calc(100% - 100px);
    position: absolute;
    overflow: auto;
}

aside img{
    width: 150px;
    height: 188px;
    margin-left: 15px;
    filter: grayscale(100%);
    transition: 1s;
}

aside img:hover{
    filter: grayscale(0%);
}

.tabs_toggle.is-active{
    filter: grayscale(0%);
}

section{
    display: none;
    width: calc(100% - 200px);
    margin-left: 200px;
}

section.is-active{
    display: block;
}

article{
    height: 100%;
    display: flex;
}

article div{
    width: 50%;
}

.info{
    text-align: center;
    font-size: 14px;
    margin-left: 10px
}

article div img{
    object-fit: cover;
    width: 100%;
}

article div h1{
    font-size: 30px;
    font-weight: 700; !important;
}

.desc{
    font-size: 16px;
    text-align: left;
}

article div button{
    font-size: 16px;
    background-color: #97c1c0;
    border: 0px;
    padding: 13px 35px ;
    border-radius: 10px;
}

article div button:hover{
    background-color: #04c5c0;
}

.popup-imagen{
    position: fixed;
    top: 0; left: 0;
    background: rgb(0,0,0);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.popup-imagen img{
    position: absolute;
    object-fit: cover;
    display: block;
    max-width: 40%;
    max-height: 99%;
    margin-left: 30%;
}






